<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title id = "Username">Username</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script src="/static/script.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


</head>
<body>    
    <div>
        <nav>
            <label class="logo">Moovies</label>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="bio.html">profile</a></li>
                <li><a href="signup.html">sign up</a></li>
                <li><a href="login.html">login</a></li>
            </ul>
        </nav>
    </div> 
    <div class="wrapper">
        <div class="left">
            <h4>Shanti Priya</h4>
             <p>UI Developer</p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Top 3 Favorite Films</h3>
                <div class="info_data">
                     <div class="data">
                        <p>1. Om Shanti Om</p>
                     </div>
                     <div class="data">
                        <p>2. Bob's Burger: The Movie</p>
                    </div>
                    <div class="data">
                        <p>3. Bob's Burger: The Movie</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
